html {
  height: 100%;
}

body {
  background: #1f1f1f;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0 2rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header_container_css {
  background-color: #0f0f0f;
}

/* .main-body-container {
    flex: 1;
    height: 1000px;
} */

.container_css {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #0f0f0f;
}

.logo {
  width: 75px;
  padding: 1em 0em;
}

.pages_css {
  display: flex;
}

.pages_css li {
  text-align: center;
}

.pages_css li:hover {
  background-color: #000;
}

.pages_css li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1em 3em;
}

.selected {
  background-color: #1f1f1f;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-body p {
  font-size: 2em;
  color: white;
}

footer ul {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 0.8em;
  padding: 1em 2rem;
}

.pathFinder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 10px;
}

#mainGrid {
  /* width: 70%; */
  width: 100%;
  border: 1px dotted grey;
}

/* .controls-container {
    width: 30%;
} */

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
}

.project-link {
  padding: 10px;
  background-color: #0f0f0f;
}

.project-link a {
  display: flex;
  background-color: #0f0f0f;
  margin: auto;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.project-link a:hover {
  background-color: black;
}

.controls {
  display: grid;
  height: 100%;
  width: 80px;
}

.controls .button {
  background-color: #0f0f0f;
  border: 0.2em solid #0f0f0f;
  color: #ccc;
  margin: 0.25em 0.5em;
  /* height: 5em; */
}

.controls .button:hover {
  background-color: rgb(50, 50, 50);
  border: 0.2em solid #fff;
  font-weight: bolder;
  color: #fff;

  /* height: 5em; */
  /* color: #000; */
}

.controls .button:disabled {
  background-color: rgb(80, 80, 80);
  border: 0.2em solid #aaa;
  color: #afafaf;
  font-weight: normal;
  /* background-blend-mode: multiply; */
  /* height: 5em; */
}

.controls .button:active {
  background-color: rgb(80, 80, 80);
}
